
    <h1>EDIT POST</h1>
    
    <input class="form-control" type="text" name="firstname" placeholder="Enter the firstname" ng-model="postFirstname"><br><br>
    <input class="form-control" type="text" name="lastname" placeholder="Enter the lastname"  ng-model="postLastname"><br><br>
    <input class="form-control" type="text" name="organisation" placeholder="Enter the organisation" ng-model="postOrganisation"><br><br>
    <button class="btn btn-success" ng-click="edit()">Update Post</button>
    
    
    