
    <h1>POST DETAILS</h1>
    
    <input class="form-control" type="text" name="firstname" placeholder="Enter the firstname" ng-model="form.firstname"><br><br>
    <input class="form-control" type="text" name="lastname" placeholder="Enter the lastname" ng-model="form.lastname"><br><br>
    <input class="form-control" type="text" name="organization" placeholder="Enter the organization" ng-model="form.organisation"><br><br>
    <button class="btn btn-success" ng-click="insert()">Insert</button>
    
    
    
