
<h1>MEAN STACK Application</h1>

<table class="table table-hover table-bordered" border="1" width="100%" cellpadding="2" cellspacing="0">
        <tr>
        <th class="text-center">Firstname</th>
        <th class="text-center">Lastname</th>
        <th class="text-center">Organization</th>
        <th class="text-center">Edit post</th>
        <th class="text-center">Delete post</th>
        </tr>
        <tr ng-repeat="info in tableData">
            <td class="text-center">{{info.firstname}}</td>
            <td class="text-center">{{info.lastname}}</td>
            <td class="text-center">{{info.organisation}}</td>
            <td class="text-center"><a class="btn btn-primary" href="#/editpost/{{info._id}}/edit">Edit</a></td>
            <td class="text-center"><a class="btn btn-danger"href="#/" ng-click="deleteData($event)" id={{info._id}} >Delete</a></td>
            
        </tr>
    </table><br><br>
    <a class="btn btn-primary" href="#/new">Add Details!!</a>
    <!-- href="#/delete/{{info._id}}" -->
    